<template name="dashboard">
    <div class="container center">
        <div class="row">
            <div class="col s6">
                <a class="waves-effect waves-light btn" style="width: 200px; height: 200px;">Stuff</a>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn" style="width: 200px; height: 200px;">Stuff</a>
            </div>

            <div class="col s6">
                <a class="waves-effect waves-light btn" style="width: 200px; height: 200px;">Stuff</a>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn" style="width: 200px; height: 200px;">Stuff</a>
            </div>
        </div>

    </div>

</template>